@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --white: #fff;
  --white3: #f1f1f1;
  --gray1: #03050F;
  --gray10: #F8F9FF;
  --gray30: #CCD1EE;
  --gray60: #5E6488;
  --gray80: #2B304E;
  --blueberry600: #4F4FFF;
  --success: #389E0D;
  --neutrals2: #EDEFFC;
  --neutrals4: #D7DBF5;
  --neutrals5: #A9AFD9;
  --neutrals6: #7981B2;
  --neutrals7: #141938;
  --violet80: #C333FF;
  --aqual4: #7DF0BA;
  --aqua100: #00F4E2;
  --red5: #FF1C44;
  --font-lato: "Lato", sans-serif;
  --font-reboto: "Roboto", sans-serif;
  --br-sonoma-black: br-sonoma-black;
  --br-sonoma-bold: br-sonoma-bold;
  --br-sonoma-light: br-sonoma-light;
  --br-sonoma-medium: br-sonoma-medium;
  --br-sonoma-regular: br-sonoma-regular;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-lato)
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh
}

body #root {
  position: inherit;
  display: inherit;
  flex-direction: inherit;
  min-height: inherit
}

img {
  max-width: 100%;
  display: block
}

li {
  list-style: none
}

@media (max-width: 767.9375px) {
  .hide-for-mobile {
      display:none!important
  }
}

@media (min-width: 768px) {
  .hide-for-desktop {
      display:none!important
  }
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 32px;
  max-width: 1184px;
  z-index: 10
}

@media (max-width: 767.9375px) {
  .container {
      padding:0 24px
  }
}

.tag-promo {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  font-family: var(--br-sonoma-bold),sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: .4px;
  background: linear-gradient(90deg,#00f4e2,#00ff7f);
  color: var(--gray1)
}

@media (max-width: 767.9375px) {
  .tag-promo {
      font-size:12px;
      padding: 2px 8px
  }
}

.stepperHorizontal {
  width: 100%;
  height: 56px;
  background-color: var(--neutrals2)
}

.stepperHorizontal .container {
  display: flex;
  align-items: center;
  justify-content: center
}

@font-face {
  font-family: br-sonoma-black;
  src: url(./fonts/BRSonoma-Black-BF654c4525506bf.otf) format("opentype");
  font-display: swap
}

.font-br-sonoma-black {
  font-family: br-sonoma-black,sans-serif
}

@font-face {
  font-family: br-sonoma-bold;
  src: url(./fonts/BRSonoma-Bold-BF654c4526823f5.otf) format("opentype");
  font-display: swap
}

.font-br-sonoma-bold {
  font-family: br-sonoma-bold,sans-serif
}

@font-face {
  font-family: br-sonoma-light;
  src: url(./fonts/BRSonoma-Light-BF654c452608e0f.otf) format("opentype");
  font-display: swap
}

.font-br-sonoma-light {
  font-family: br-sonoma-light,sans-serif
}

@font-face {
  font-family: br-sonoma-medium;
  src: url(./fonts/BRSonoma-Medium-BF654c45266edd1.otf) format("opentype");
  font-display: swap
}

.font-br-sonoma-medium {
  font-family: br-sonoma-medium,sans-serif
}

@font-face {
  font-family: br-sonoma-regular;
  src: url(./fonts/BRSonoma-Regular-BF654c45266c042.otf) format("opentype");
  font-display: swap
}

.font-br-sonoma-regular {
  font-family: br-sonoma-regular,sans-serif
}

select,textarea,input {
  border-style: none;
  background: none;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none
}

select::-webkit-inner-spin-button,select::-webkit-outer-spin-button,textarea::-webkit-inner-spin-button,textarea::-webkit-outer-spin-button,input::-webkit-inner-spin-button,input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0
}

.check__label {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

.check__label input:checked+.check__label--box {
  background-color: var(--gray1);
}

.check__label--box {
  position: relative;
  width: 20px;
  min-width: 20px;
  height: 20px;
  border-radius: 4px;
  box-shadow: 0 0 0 1px inset var(--gray1);
  background-color: var(--white)
}

.check__label--box .i {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)
}

.check__label.disabled {
  cursor: not-allowed
}

.check__label.disabled .check__label--box {
  cursor: not-allowed;
  background-color: #ddd;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

.check__label.disabled .paragraph {
  cursor: not-allowed
}

.check__label.error .paragraph {
  color: var(--red5)
}

.check__label.error .check__label--box {
  box-shadow: 0 0 0 1px inset var(--red5)
}

button,.button {
  cursor: pointer;
  outline: none
}

.btn {
  cursor: pointer;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 18px;
  line-height: 20px;
  padding: 14px 43px;
  border-radius: 40px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: .4px;
  background-color: var(--gray1);
  color: var(--white);
  overflow: hidden;
  border: 2px solid var(--gray1);
  z-index: 1
}

.btn:active {
  transform: scale(.98)
}

.btn:disabled {
  cursor: not-allowed;
  background-color: #1433cc1a;
  border-style: none;
  color: #a9afd1
}

.btn:disabled:hover {
  background-color: #1433cc1a
}

.btn:disabled:hover:before {
  display: none
}

.btn.loading {
  border: 2px solid #DDD!important;
  background-color: #ddd!important;
  color: #fff!important
}

.btn.red {
  background-color: var(--red5);
  border-color: var(--red5)
}

.btn.lg {
  font-size: 20px;
  line-height: 24px;
  padding: 20px 40px
}

@media (min-width: 768px) {
  .btn:before {
      content:"";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 359px;
      background-color: var(--white);
      transform: translate(-50%,-50%) scale(0);
      border-radius: 999999px;
      transition: transform .2s ease;
      z-index: -1
  }

  .btn.red:hover {
      color: var(--red5)
  }

  .btn:hover {
      color: var(--gray1)
  }

  .btn:hover:before {
      transform: translate(-50%,-50%) scale(1)
  }
}

@media (max-width: 767.9375px) {
  .btn {
      font-size:18px;
      line-height: 20px;
      padding: 18px 32px
  }
}