@import"https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap";
@import"https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap";

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --white: #fff;
  --white3: #f1f1f1;
  --gray1: #03050F;
  --gray10: #F8F9FF;
  --gray30: #CCD1EE;
  --gray60: #5E6488;
  --gray80: #2B304E;
  --blueberry600: #4F4FFF;
  --success: #389E0D;
  --neutrals2: #EDEFFC;
  --neutrals4: #D7DBF5;
  --neutrals5: #A9AFD9;
  --neutrals6: #7981B2;
  --neutrals7: #141938;
  --violet80: #C333FF;
  --aqual4: #7DF0BA;
  --aqua100: #00F4E2;
  --red5: #FF1C44
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-lato)
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh
}

body #root {
  position: inherit;
  display: inherit;
  flex-direction: inherit;
  min-height: inherit
}

img {
  max-width: 100%;
  display: block
}

li {
  list-style: none
}

@media (max-width: 767.9375px) {
  .hide-for-mobile {
      display:none!important
  }
}

@media (min-width: 768px) {
  .hide-for-desktop {
      display:none!important
  }
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 32px;
  max-width: 1184px;
  z-index: 10
}

@media (max-width: 767.9375px) {
  .container {
      padding:0 24px
  }
}

.tag-promo {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  font-family: var(--br-sonoma-bold),sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: .4px;
  background: linear-gradient(90deg,#00f4e2,#00ff7f);
  color: var(--gray1)
}

@media (max-width: 767.9375px) {
  .tag-promo {
      font-size:12px;
      padding: 2px 8px
  }
}

.stepperHorizontal {
  width: 100%;
  height: 56px;
  background-color: var(--neutrals2)
}

.stepperHorizontal .container {
  display: flex;
  align-items: center;
  justify-content: center
}

:root {
  --font-lato: "Lato", sans-serif;
  --font-reboto: "Roboto", sans-serif;
  --br-sonoma-black: br-sonoma-black
}

@font-face {
  font-family: br-sonoma-black;
  src: url(./assets/fonts/BRSonoma-Black-BF654c4525506bf.otf) format("opentype");
  font-display: swap
}

.font-br-sonoma-black {
  font-family: br-sonoma-black,sans-serif
}

:root {
  --br-sonoma-bold: br-sonoma-bold
}

@font-face {
  font-family: br-sonoma-bold;
  src: url(./assets/fonts/BRSonoma-Bold-BF654c4526823f5.otf) format("opentype");
  font-display: swap
}

.font-br-sonoma-bold {
  font-family: br-sonoma-bold,sans-serif
}

:root {
  --br-sonoma-light: br-sonoma-light
}

@font-face {
  font-family: br-sonoma-light;
  src: url(./assets/fonts/BRSonoma-Light-BF654c452608e0f.otf) format("opentype");
  font-display: swap
}

.font-br-sonoma-light {
  font-family: br-sonoma-light,sans-serif
}

:root {
  --br-sonoma-medium: br-sonoma-medium
}

@font-face {
  font-family: br-sonoma-medium;
  src: url(./assets/fonts/BRSonoma-Medium-BF654c45266edd1.otf) format("opentype");
  font-display: swap
}

.font-br-sonoma-medium {
  font-family: br-sonoma-medium,sans-serif
}

:root {
  --br-sonoma-regular: br-sonoma-regular
}

@font-face {
  font-family: br-sonoma-regular;
  src: url(./assets/fonts/BRSonoma-Regular-BF654c45266c042.otf) format("opentype");
  font-display: swap
}

.font-br-sonoma-regular {
  font-family: br-sonoma-regular,sans-serif
}

select,textarea,input {
  border-style: none;
  background: none;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none
}

select::-webkit-inner-spin-button,select::-webkit-outer-spin-button,textarea::-webkit-inner-spin-button,textarea::-webkit-outer-spin-button,input::-webkit-inner-spin-button,input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0
}

.inputSelect {
  width: 100%;
  display: flex
}

.inputSelect--select,.inputSelect--input {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  height: 56px;
  color: var(--gray1);
  font-family: var(--br-sonoma-regular),sans-serif
}

.inputSelect--select {
  position: relative;
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid var(--gray60);
  background-color: var(--white);
  border-right: 0;
  border-radius: 8px 0 0 8px;
  letter-spacing: .2px;
  gap: 11.8px
}

.inputSelect--select.disabled {
  background-color: #ddd
}

.inputSelect--select select {
  min-width: 140px;
  height: 100%;
  padding: 15px 40.28px 15px 16px;
  cursor: pointer;
  font-size: inherit;
  color: inherit;
  z-index: 1
}

.inputSelect--select select:disabled {
  cursor: not-allowed
}

.inputSelect--select .i {
  position: absolute;
  top: 0;
  right: 16px;
  bottom: 0;
  margin: auto;
  color: var(--red)
}

.inputSelect .input__login,.inputSelect input {
  border-radius: 0 8px 8px 0!important
}

.input__login {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border-radius: 8px;
  height: 56px
}

.input__login input {
  width: 100%;
  height: 56px;
  font-size: 16px;
  line-height: 24px;
  padding: 20px 16px 4px;
  border-radius: 8px;
  color: var(--gray1);
  font-family: var(--br-sonoma-regular);
  box-shadow: 0 0 0 1px inset var(--gray60);
  background-color: transparent;
  transition: all .2s ease
}

.input__login input:disabled {
  cursor: not-allowed;
  background-color: #ddd;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

.input__login input:focus {
  box-shadow: 0 0 0 2px inset var(--gray1);
  background-color: var(--white)
}

.input__login input:focus+.before .paragraph {
  color: var(--gray1)
}

.input__login input:not(:-moz-placeholder-shown)+.before .paragraph {
  top: 8px;
  font-size: 12px;
  line-height: 16px;
  transform: translateY(0)
}

.input__login input:focus+.before .paragraph,.input__login input:not(:placeholder-shown)+.before .paragraph {
  top: 8px;
  font-size: 12px;
  line-height: 16px;
  transform: translateY(0)
}

.input__login .before {
  cursor: text
}

.input__login .paragraph {
  position: absolute;
  top: 50%;
  left: 16px;
  font-size: 16px;
  line-height: 24px;
  transform: translateY(-50%);
  font-weight: 400;
  color: var(--gray60);
  transition: all .3s ease
}

.input__login.disabled .paragraph {
  cursor: not-allowed
}

.input__login.error input {
  box-shadow: 0 0 0 1px inset var(--red5)
}

.input__login.error input:focus {
  box-shadow: 0 0 0 2px inset var(--red5)
}

.check__label {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

.check__label input:checked+.check__label--box {
  background-color: var(--gray1);
}

.check__label--box {
  position: relative;
  width: 20px;
  min-width: 20px;
  height: 20px;
  border-radius: 4px;
  box-shadow: 0 0 0 1px inset var(--gray1);
  background-color: var(--white)
}

.check__label--box .i {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)
}

.check__label.disabled {
  cursor: not-allowed
}

.check__label.disabled .check__label--box {
  cursor: not-allowed;
  background-color: #ddd;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

.check__label.disabled .paragraph {
  cursor: not-allowed
}

.check__label.error .paragraph {
  color: var(--red5)
}

.check__label.error .check__label--box {
  box-shadow: 0 0 0 1px inset var(--red5)
}

button,.button {
  cursor: pointer;
  outline: none
}

.btn {
  cursor: pointer;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 18px;
  line-height: 20px;
  padding: 14px 43px;
  border-radius: 40px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: .4px;
  background-color: var(--gray1);
  color: var(--white);
  overflow: hidden;
  border: 2px solid var(--gray1);
  z-index: 1
}

.btn:active {
  transform: scale(.98)
}

.btn:disabled {
  cursor: not-allowed;
  background-color: #1433cc1a;
  border-style: none;
  color: #a9afd1
}

.btn:disabled:hover {
  background-color: #1433cc1a
}

.btn:disabled:hover:before {
  display: none
}

.btn.loading {
  border: 2px solid #DDD!important;
  background-color: #ddd!important;
  color: #fff!important
}

.btn.red {
  background-color: var(--red5);
  border-color: var(--red5)
}

.btn.lg {
  font-size: 20px;
  line-height: 24px;
  padding: 20px 40px
}

@media (min-width: 768px) {
  .btn:before {
      content:"";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 359px;
      background-color: var(--white);
      transform: translate(-50%,-50%) scale(0);
      border-radius: 999999px;
      transition: transform .2s ease;
      z-index: -1
  }

  .btn.red:hover {
      color: var(--red5)
  }

  .btn:hover {
      color: var(--gray1)
  }

  .btn:hover:before {
      transform: translate(-50%,-50%) scale(1)
  }
}

@media (max-width: 767.9375px) {
  .btn {
      font-size:18px;
      line-height: 20px;
      padding: 18px 32px
  }
}

.header {
  background-color: var(--white);
  z-index: 11
}

.header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px
}

.header__right {
  display: flex;
  align-items: center;
  gap: 23px
}

@media (min-width: 768px) {
  .header nav {
      height:64px
  }
}

@media (max-width: 499.9375px) {
  .header__logo img {
      width:65px;
      min-width: 65px
  }
}

.header-login {
  background-color: transparent;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 11
}

.header-login .header {
  background-color: inherit
}

.footer {
  margin-top: auto;
  width: 100%;
  height: 106px;
  background-color: var(--gray1);
  z-index: 10
}

.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between
}

@media (max-width: 767.9375px) {
  .footer {
      padding:32px 0;
      height: auto;
      height: initial
  }

  .footer .container {
      flex-direction: column
  }

  .footer__left {
      width: 100%;
      border-bottom: 1px solid var(--gray80);
      padding-bottom: 24px
  }

  .footer__right {
      padding-top: 24px
  }

  .footer__right>div {
      font-size: 12px;
      line-height: 20px;
      letter-spacing: .1px
  }
}

.btn-close-popup {
  position: relative
}

.btn-close-popup:before {
  content: "";
  position: absolute;
  width: 29px;
  height: 29px;
  border-radius: 6px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)
}

.btn-close-popup:hover {
  color: #000
}

.btn-close-popup:hover:before {
  background-color: var(--white3)
}

.btn-close-popup:active {
  transform: scale(.92);
  color: #000
}

.btn-close-popup:active:before {
  background-color: var(--white3)
}

.message-enter .popup-overlay {
  opacity: 0
}

.message-enter .popup-content {
  opacity: 0;
  transform: translateY(100%)
}

.message-enter-active .popup-overlay {
  opacity: 1;
  transition: opacity .32s cubic-bezier(.4,0,.6,1) 80ms
}

.message-enter-active .popup-content {
  opacity: 1;
  transform: translateY(0);
  transition: opacity .4s ease-in-out,transform .4s ease-in-out
}

.message-exit .popup-overlay {
  opacity: 1
}

.message-exit .popup-content {
  opacity: 1;
  transform: translateY(0)
}

.message-exit-active .popup-overlay {
  opacity: 0;
  transition: opacity .32s cubic-bezier(.4,0,.6,1) 80ms
}

.message-exit-active .popup-content {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity .26s ease-in-out,transform .26s ease-in-out
}

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999
}

.popup-overlay {
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #e8e8ed66;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px)
}

.popup-content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  box-shadow: 0 8px 28px #00000047;
  max-width: 568px;
  width: 100%;
  max-height: 100%;
  border-radius: 10px;
  overflow: hidden;
  z-index: 999
}

.popup-close {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 24px;
  height: 64px;
  min-height: 64px;
  border-bottom: 1px solid var(--neutrals4)
}

.popup-description {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
  padding: 20px 24px 30px
}

.popup .pmhipaijcd {
  padding: 40px;
  max-height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  align-items: center;
  justify-content: center;
  display: flex
}

@media (max-width: 767.9375px) {
  .popup .pmhipaijcd {
      padding:0
  }

  .popup-content {
      max-width: 100%;
      height: 100%;
      border-radius: 0;
      border-radius: initial
  }

  .popup .btn-close-popup:before {
      width: 64px;
      height: 61px;
      border-radius: 0 60px 60px 0
  }

  .popup .btn-close-popup:active {
      transform: none
  }

  .popup-description {
      padding-bottom: 40px
  }
}

.fxaijcmpz {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px 24px 12px;
  position: relative;
  z-index: 1
}

@media (min-width: 1178px) {
  .fxaijcmpz {
      margin:40px 40px 20px
  }
}

.whmpt {
  width: 100%;
  height: calc(100% - 96px);
  margin: 0 auto;
  position: relative;
  top: 96px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

@media (min-width: 1178px) {
  .whmpt {
      width:calc(100% - 192px);
      height: calc(100% - 112px);
      top: 112px
  }
}

.fmhpr {
  flex: 1 1 100%;
  max-height: calc(100% - 96px);
  position: relative
}

@media (min-width: 1178px) {
  .fmhpr {
      flex:1 1 auto;
      max-height: calc(100% - 112px)
  }
}

.fxjcmlmr {
  -webkit-box-pack: justify;
  display: flex;
  justify-content: space-between;
  margin-left: calc(2% + 19px);
  margin-right: calc(2% + 19px)
}

.peall {
  pointer-events: all
}

._1lotlmr {
  position: relative;
  outline: 0;
  touch-action: manipulation;
  display: inline-block;
  color: var(--white);
  outline: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  border: none;
  background: transparent;
  transition: transform .25s ease
}

._1lotlmr:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid rgba(227,237,243,.7)
}

._1lotlmr:hover:before {
  background: #4a4a4a
}

._1lotlmr:active {
  transform: scale(.92)
}

.login {
  position: relative;
  padding: 7rem 0 6rem;
  display: grid;
  place-items: center;
  min-height: calc(100vh - 106px);
  background-color: var(--gray10);
  overflow: hidden
}

.login .container {
  display: flex;
  align-items: center
}

.login__left {
  width: 100%;
  max-width: 480px;
  border-radius: 20px;
  overflow: hidden
}

.login__right {
  width: 100%;
  max-width: 352px;
  margin-left: 128px
}

.login__right .info {
  margin-top: 16px
}

.login .block-btn {
  margin-top: 24px
}

@media (max-width: 1177.9375px) {
  .login__right {
      margin-left:70px
  }
}

@media (max-width: 767.9375px) {
  .login {
      padding:4rem 0 96px;
      min-height: calc(100vh - 153px)
  }

  .login .container {
      align-items: initial
  }

  .login__right {
      margin-left: 0;
      max-width: 100%
  }

  .login__right .info {
      margin-top: 8px
  }

  .login__right--mobil {
      display: flex;
      align-items: center;
      gap: 12px;
      justify-content: space-between
  }

  .login__right--mobil--img {
      width: 136px;
      min-width: 136px;
      border-radius: 20px;
      overflow: hidden
  }

  .login__right--mobil h1 {
      font-size: 28px;
      line-height: 36px
  }

  .login .block-btn {
      margin-top: 36px
  }

  .login .btn {
      width: 100%
  }
}

.planInfo {
  display: grid;
  margin: 0 auto;
  width: 100%;
  max-width: 544px;
  grid-template-columns: repeat(auto-fill,minmax(230px,1fr));
  grid-gap: 32px;
  gap: 32px
}

.planInfo .check__label {
  cursor: auto;
  cursor: initial
}

.planInfo .check__label input:checked+.check__label--info .check__label--box {
  background-color: var(--success);
  box-shadow: 0 0 0 1px inset var(--success)
}

.planInfo .check__label input:checked+.check__label--info {
  box-shadow: 0 0 0 3px inset var(--gray1)
}

.planInfo .check__label--info {
  cursor: pointer;
  border-radius: 24px;
  box-shadow: 0 1px 32px #aeacf359;
  padding: 16px 24px 40px;
  display: block
}

.planInfo .check__label--info:hover .check__label--box {
  box-shadow: 0 0 0 1px inset var(--gray1)
}

.planInfo .check__label--box {
  margin-left: auto;
  width: 24px;
  min-width: 24px;
  height: 24px;
  border-radius: 50%;
  box-shadow: 0 0 0 1px inset var(--neutrals5)
}

@media (max-width: 767.9375px) {
  .planInfo {
      max-width:100%;
      grid-template-columns: 1fr;
      gap: 24px
  }

  .planInfo .check__label,.planInfo .check__label--info {
      width: 100%;
      max-width: 100%
  }
}

.plan {
  padding: 40px 0 80px
}

.plan .content {
  padding: 0 6rem
}

.plan .content__info {
  margin-top: 56px;
  text-align: center
}

.plan .planPrice {
  margin-top: 20px;
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: space-around
}

@media (max-width: 767.9375px) {
  .plan {
      padding-top:0
  }

  .plan .content {
      padding: 0
  }

  .plan .content__info {
      margin-top: 32px;
      text-align: left;
      text-align: initial
  }

  .plan .content__info>div {
      margin: 0;
      margin: initial
  }

  .plan .content__info h2 {
      font-size: 28px;
      line-height: 36px;
      letter-spacing: -.2px
  }

  .plan .recommended {
      top: 2rem
  }

  .plan .planPrice {
      margin-top: 40px
  }

  /* .plan .planPrice>div {
      padding: 60px 32px 40px
  } */
}

@media (max-width: 768px) {
  .plan .planPrice {
      flex-wrap:nowrap;
      overflow: auto;
      padding: 24px 30px 40px 26px;
      margin: 16px -24px
  }
}

.summary {
  padding: 64px 0 112px
}

.summary .content {
  padding: 0 6rem
}

.summary .content__info {
  margin-top: 32px
}

.summary .content__block {
  margin-top: 48px
}

@media (max-width: 767.9375px) {
  .summary {
      padding:33px 0 80px
  }

  .summary .content {
      padding: 0
  }

  .summary .content__info {
      text-align: center;
      margin-top: 0
  }

  .summary .content__info h2 {
      font-size: 32px;
      line-height: 40px;
      letter-spacing: -.6px
  }

  .summary .content__info__block {
      margin-top: 40px
  }
}